a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: red;
    background-color: saddlebrown;
    text-decoration: none;
}

a:hover {
    color: olive;
    background-color: maroon;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: purple;
    text-decoration: none;
}
